/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-starter-block {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.rt_slides {
	outline: 1px solid green;
	overflow: hidden;
}

.rt_wrapper {
	display: flex;
	transition: 0.5s;
}

.rt_slide {
	flex: 0 0 100%;
}